In [ ]:
import pandas as pd

data = pd.read_csv('/content/Tingkat Pengangguran Terbuka (TPT) dan Tingkat Partisipasi Angkatan Kerja (TPAK) Menurut Provinsi, 2023.csv')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
data.head()

,Provinsi,Tingkat Pengangguran Terbuka (TPT) - Februari,Tingkat Pengangguran Terbuka (TPT) - Agustus,Tingkat Partisipasi Angkatan Kerja (TPAK) - Februari,Tingkat Partisipasi Angkatan Kerja (TPAK) - Agustus
0,Aceh,5.75,6.03,65.12,64.77
1,Sumatera Utara,5.24,5.89,70.6,71.06
2,Sumatera Barat,5.9,5.94,69.96,69.61
3,Riau,4.25,4.23,65.18,64.45
4,Jambi,4.5,4.53,67.88,68.75

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 5 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   Provinsi                                              41 non-null     object
 1   Tingkat Pengangguran Terbuka (TPT) - Februari         39 non-null     object
 2   Tingkat Pengangguran Terbuka (TPT) - Agustus          39 non-null     object
 3   Tingkat Partisipasi Angkatan Kerja (TPAK) - Februari  39 non-null     object
 4   Tingkat Partisipasi Angkatan Kerja (TPAK) - Agustus   39 non-null     object
dtypes: object(5)
memory usage: 1.8+ KB

In [ ]:
data.shape

(42, 5)

In [ ]:
data

,Provinsi,Tingkat Pengangguran Terbuka (TPT) - Februari,Tingkat Pengangguran Terbuka (TPT) - Agustus,Tingkat Partisipasi Angkatan Kerja (TPAK) - Februari,Tingkat Partisipasi Angkatan Kerja (TPAK) - Agustus
0,Aceh,5.75,6.03,65.12,64.77
1,Sumatera Utara,5.24,5.89,70.6,71.06
2,Sumatera Barat,5.9,5.94,69.96,69.61
3,Riau,4.25,4.23,65.18,64.45
4,Jambi,4.5,4.53,67.88,68.75
5,Sumatera Selatan,4.53,4.11,69.73,70.72
6,Bengkulu,3.21,3.42,72.72,70.91
7,Lampung,4.18,4.23,72.07,70.04
8,Kepulauan Bangka Belitung,3.89,4.56,70.33,68.34
9,Kepulauan Riau,7.61,6.8,67.29,68.68
10,DKI Jakarta,7.57,6.53,63.07,65.21
11,Jawa Barat,7.89,7.44,66.75,66.49
12,Jawa Tengah,5.24,5.13,72.33,71.72
13,DI Yogyakarta,3.58,3.69,73.43,74.08
14,Jawa Timur,4.33,4.88,71.5,72.56
15,Banten,7.97,7.52,65.94,64.44
16,Bali,3.73,2.69,77.19,77.08
17,Nusa Tenggara Barat,3.73,2.8,71.16,73.31
18,Nusa Tenggara Timur,3.1,3.14,74.51,75.72
19,Kalimantan Barat,4.52,5.05,68.45,69.42
20,Kalimantan Tengah,3.84,4.1,68.76,67.18
21,Kalimantan Selatan,3.95,4.31,69.53,69.76
22,Kalimantan Timur,6.37,5.31,65.66,65.57
23,Kalimantan Utara,4.1,4.01,67.03,70.35
24,Sulawesi Utara,6.19,6.1,63.31,64.09
25,Sulawesi Tengah,3.49,2.95,70.19,69.85
26,Sulawesi Selatan,5.26,4.33,64.37,65.66
27,Sulawesi Tenggara,3.66,3.15,67.55,70.07
28,Gorontalo,3.07,3.06,70.59,70.79
29,Sulawesi Barat,3.04,2.27,67.62,71.05
30,Maluku,6.08,6.31,63.82,63.6
31,Maluku Utara,4.6,4.31,66.52,67.77
32,Papua Barat,5.53,5.38,69.36,67.24
33,Papua Barat Daya,...,...,...,...
34,Papua,3.49,2.67,76.79,77.2
35,Papua Selatan,...,...,...,...
36,Papua Tengah,...,...,...,...
37,Papua Pegunungan,...,...,...,...
38,Indonesia,5.45,5.32,69.3,69.48
39,NaN,NaN,NaN,NaN,NaN
40,Catatan,NaN,NaN,NaN,NaN
41,* Kesalahan Baku Relatif 25%/<i>Relative Stand...,NaN,NaN,NaN,NaN

disini semua tipe datanya objek

In [ ]:
data.describe()

,Provinsi,Tingkat Pengangguran Terbuka (TPT) - Februari,Tingkat Pengangguran Terbuka (TPT) - Agustus,Tingkat Partisipasi Angkatan Kerja (TPAK) - Februari,Tingkat Partisipasi Angkatan Kerja (TPAK) - Agustus
count,41,39,39,39,39
unique,41,33,34,36,36
top,Aceh,...,...,...,...
freq,1,4,4,4,4

In [ ]:
data.isnull().sum()

Provinsi                                                1
Tingkat Pengangguran Terbuka (TPT) - Februari           3
Tingkat Pengangguran Terbuka (TPT) - Agustus            3
Tingkat Partisipasi Angkatan Kerja (TPAK) - Februari    3
Tingkat Partisipasi Angkatan Kerja (TPAK) - Agustus     3
dtype: int64

In [ ]:
data['Provinsi'].unique()

array(['Aceh', 'Sumatera Utara', 'Sumatera Barat', 'Riau', 'Jambi',
       'Sumatera Selatan', 'Bengkulu', 'Lampung',
       'Kepulauan Bangka Belitung', 'Kepulauan Riau', 'DKI Jakarta',
       'Jawa Barat', 'Jawa Tengah', 'DI Yogyakarta', 'Jawa Timur',
       'Banten', 'Bali', 'Nusa Tenggara Barat', 'Nusa Tenggara Timur',
       'Kalimantan Barat', 'Kalimantan Tengah', 'Kalimantan Selatan',
       'Kalimantan Timur', 'Kalimantan Utara', 'Sulawesi Utara',
       'Sulawesi Tengah', 'Sulawesi Selatan', 'Sulawesi Tenggara',
       'Gorontalo', 'Sulawesi Barat', 'Maluku', 'Maluku Utara',
       'Papua Barat', 'Papua Barat Daya', 'Papua', 'Papua Selatan',
       'Papua Tengah', 'Papua Pegunungan', 'Indonesia', nan, 'Catatan',
       '* Kesalahan Baku Relatif 25%/<i>Relative Standar Error</i>'],
      dtype=object)

In [ ]:
df = data.copy()

df.replace("...", pd.NA, inplace=True)

In [ ]:
baris_error = df[df.isna().any(axis=1)]
baris_error

,Provinsi,Tingkat Pengangguran Terbuka (TPT) - Februari,Tingkat Pengangguran Terbuka (TPT) - Agustus,Tingkat Partisipasi Angkatan Kerja (TPAK) - Februari,Tingkat Partisipasi Angkatan Kerja (TPAK) - Agustus
33,Papua Barat Daya,<NA>,<NA>,<NA>,<NA>
35,Papua Selatan,<NA>,<NA>,<NA>,<NA>
36,Papua Tengah,<NA>,<NA>,<NA>,<NA>
37,Papua Pegunungan,<NA>,<NA>,<NA>,<NA>
39,NaN,NaN,NaN,NaN,NaN
40,Catatan,NaN,NaN,NaN,NaN
41,* Kesalahan Baku Relatif 25%/<i>Relative Stand...,NaN,NaN,NaN,NaN

In [ ]:
df = df.drop(baris_error.index)
df

,Provinsi,Tingkat Pengangguran Terbuka (TPT) - Februari,Tingkat Pengangguran Terbuka (TPT) - Agustus,Tingkat Partisipasi Angkatan Kerja (TPAK) - Februari,Tingkat Partisipasi Angkatan Kerja (TPAK) - Agustus
0,Aceh,5.75,6.03,65.12,64.77
1,Sumatera Utara,5.24,5.89,70.6,71.06
2,Sumatera Barat,5.9,5.94,69.96,69.61
3,Riau,4.25,4.23,65.18,64.45
4,Jambi,4.5,4.53,67.88,68.75
5,Sumatera Selatan,4.53,4.11,69.73,70.72
6,Bengkulu,3.21,3.42,72.72,70.91
7,Lampung,4.18,4.23,72.07,70.04
8,Kepulauan Bangka Belitung,3.89,4.56,70.33,68.34
9,Kepulauan Riau,7.61,6.8,67.29,68.68
10,DKI Jakarta,7.57,6.53,63.07,65.21
11,Jawa Barat,7.89,7.44,66.75,66.49
12,Jawa Tengah,5.24,5.13,72.33,71.72
13,DI Yogyakarta,3.58,3.69,73.43,74.08
14,Jawa Timur,4.33,4.88,71.5,72.56
15,Banten,7.97,7.52,65.94,64.44
16,Bali,3.73,2.69,77.19,77.08
17,Nusa Tenggara Barat,3.73,2.8,71.16,73.31
18,Nusa Tenggara Timur,3.1,3.14,74.51,75.72
19,Kalimantan Barat,4.52,5.05,68.45,69.42
20,Kalimantan Tengah,3.84,4.1,68.76,67.18
21,Kalimantan Selatan,3.95,4.31,69.53,69.76
22,Kalimantan Timur,6.37,5.31,65.66,65.57
23,Kalimantan Utara,4.1,4.01,67.03,70.35
24,Sulawesi Utara,6.19,6.1,63.31,64.09
25,Sulawesi Tengah,3.49,2.95,70.19,69.85
26,Sulawesi Selatan,5.26,4.33,64.37,65.66
27,Sulawesi Tenggara,3.66,3.15,67.55,70.07
28,Gorontalo,3.07,3.06,70.59,70.79
29,Sulawesi Barat,3.04,2.27,67.62,71.05
30,Maluku,6.08,6.31,63.82,63.6
31,Maluku Utara,4.6,4.31,66.52,67.77
32,Papua Barat,5.53,5.38,69.36,67.24
34,Papua,3.49,2.67,76.79,77.2
38,Indonesia,5.45,5.32,69.3,69.48

In [ ]:
df.shape

(35, 5)

In [ ]:
df = df[df['Provinsi'] != 'Indonesia']

df['Provinsi'] = df['Provinsi'].astype(str)

for col in df.columns:
  if col != 'Provinsi':
    df[col] = df[col].astype(float)

df = df.reset_index(drop=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 5 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   Provinsi                                              34 non-null     object
 1   Tingkat Pengangguran Terbuka (TPT) - Februari         34 non-null     float64
 2   Tingkat Pengangguran Terbuka (TPT) - Agustus          34 non-null     float64
 3   Tingkat Partisipasi Angkatan Kerja (TPAK) - Februari  34 non-null     float64
 4   Tingkat Partisipasi Angkatan Kerja (TPAK) - Agustus   34 non-null     float64
dtypes: float64(4), object(1)
memory usage: 1.5+ KB

In [ ]:
df

,Provinsi,Tingkat Pengangguran Terbuka (TPT) - Februari,Tingkat Pengangguran Terbuka (TPT) - Agustus,Tingkat Partisipasi Angkatan Kerja (TPAK) - Februari,Tingkat Partisipasi Angkatan Kerja (TPAK) - Agustus
0,Aceh,5.75,6.03,65.12,64.77
1,Sumatera Utara,5.24,5.89,70.60,71.06
2,Sumatera Barat,5.90,5.94,69.96,69.61
3,Riau,4.25,4.23,65.18,64.45
4,Jambi,4.50,4.53,67.88,68.75
5,Sumatera Selatan,4.53,4.11,69.73,70.72
6,Bengkulu,3.21,3.42,72.72,70.91
7,Lampung,4.18,4.23,72.07,70.04
8,Kepulauan Bangka Belitung,3.89,4.56,70.33,68.34
9,Kepulauan Riau,7.61,6.80,67.29,68.68
10,DKI Jakarta,7.57,6.53,63.07,65.21
11,Jawa Barat,7.89,7.44,66.75,66.49
12,Jawa Tengah,5.24,5.13,72.33,71.72
13,DI Yogyakarta,3.58,3.69,73.43,74.08
14,Jawa Timur,4.33,4.88,71.50,72.56
15,Banten,7.97,7.52,65.94,64.44
16,Bali,3.73,2.69,77.19,77.08
17,Nusa Tenggara Barat,3.73,2.80,71.16,73.31
18,Nusa Tenggara Timur,3.10,3.14,74.51,75.72
19,Kalimantan Barat,4.52,5.05,68.45,69.42
20,Kalimantan Tengah,3.84,4.10,68.76,67.18
21,Kalimantan Selatan,3.95,4.31,69.53,69.76
22,Kalimantan Timur,6.37,5.31,65.66,65.57
23,Kalimantan Utara,4.10,4.01,67.03,70.35
24,Sulawesi Utara,6.19,6.10,63.31,64.09
25,Sulawesi Tengah,3.49,2.95,70.19,69.85
26,Sulawesi Selatan,5.26,4.33,64.37,65.66
27,Sulawesi Tenggara,3.66,3.15,67.55,70.07
28,Gorontalo,3.07,3.06,70.59,70.79
29,Sulawesi Barat,3.04,2.27,67.62,71.05
30,Maluku,6.08,6.31,63.82,63.60
31,Maluku Utara,4.60,4.31,66.52,67.77
32,Papua Barat,5.53,5.38,69.36,67.24
33,Papua,3.49,2.67,76.79,77.20

In [ ]:
print(df['Provinsi'].unique())

['Aceh' 'Sumatera Utara' 'Sumatera Barat' 'Riau' 'Jambi'
 'Sumatera Selatan' 'Bengkulu' 'Lampung' 'Kepulauan Bangka Belitung'
 'Kepulauan Riau' 'DKI Jakarta' 'Jawa Barat' 'Jawa Tengah' 'DI Yogyakarta'
 'Jawa Timur' 'Banten' 'Bali' 'Nusa Tenggara Barat' 'Nusa Tenggara Timur'
 'Kalimantan Barat' 'Kalimantan Tengah' 'Kalimantan Selatan'
 'Kalimantan Timur' 'Kalimantan Utara' 'Sulawesi Utara' 'Sulawesi Tengah'
 'Sulawesi Selatan' 'Sulawesi Tenggara' 'Gorontalo' 'Sulawesi Barat'
 'Maluku' 'Maluku Utara' 'Papua Barat' 'Papua']

Download data bersih untuk mendapat analisis lebih lanjut

In [ ]:
df.to_csv('processed_data.csv', index=False)

from google.colab import files
files.download('processed_data.csv')