# Download Data

In [ ]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("arshkon/linkedin-job-postings")

print("Path to dataset files:", path)

Path to dataset files: /kaggle/input/linkedin-job-postings

In [ ]:
import os

folder_path = "/root/.cache/kagglehub/datasets/arshkon/linkedin-job-postings/versions/13"
files = os.listdir(folder_path)
print(files)

['companies', 'mappings', 'jobs', 'postings.csv']

In [ ]:
import pandas as pd

df_postings = pd.read_csv("/root/.cache/kagglehub/datasets/arshkon/linkedin-job-postings/versions/13/postings.csv")

In [ ]:
print(df_postings.head())

     job_id            company_name  \
0    921716   Corcoran Sawyer Smith
1   1829192                     NaN
2  10998357  The National Exemplar
3  23221523  Abrams Fensterman, LLP
4  35982263                     NaN

                                               title  \
0                              Marketing Coordinator
1                  Mental Health Therapist/Counselor
2                        Assitant Restaurant Manager
3  Senior Elder Law / Trusts and Estates Associat...
4                                 Service Technician

                                         description  max_salary pay_period  \
0  Job descriptionA leading real estate firm in N...        20.0     HOURLY
1  At Aspen Therapy and Wellness , we are committ...        50.0     HOURLY
2  The National Exemplar is accepting application...     65000.0     YEARLY
3  Senior Associate Attorney - Elder Law / Trusts...    175000.0     YEARLY
4  Looking for HVAC service tech with experience ...     80000.0     YEARLY

            location  company_id  views  med_salary  ...  \
0      Princeton, NJ   2774458.0   20.0         NaN  ...
1   Fort Collins, CO         NaN    1.0         NaN  ...
2     Cincinnati, OH  64896719.0    8.0         NaN  ...
3  New Hyde Park, NY    766262.0   16.0         NaN  ...
4     Burlington, IA         NaN    3.0         NaN  ...

                                         skills_desc   listed_time  \
0  Requirements: \n\nWe are seeking a College or ...  1.713398e+12
1                                                NaN  1.712858e+12
2  We are currently accepting resumes for FOH - A...  1.713278e+12
3  This position requires a baseline understandin...  1.712896e+12
4                                                NaN  1.713452e+12

   posting_domain  sponsored  work_type currency compensation_type  \
0             NaN          0  FULL_TIME      USD       BASE_SALARY
1             NaN          0  FULL_TIME      USD       BASE_SALARY
2             NaN          0  FULL_TIME      USD       BASE_SALARY
3             NaN          0  FULL_TIME      USD       BASE_SALARY
4             NaN          0  FULL_TIME      USD       BASE_SALARY

  normalized_salary  zip_code     fips
0           38480.0    8540.0  34021.0
1           83200.0   80521.0   8069.0
2           55000.0   45202.0  39061.0
3          157500.0   11040.0  36059.0
4           70000.0   52601.0  19057.0

[5 rows x 31 columns]

In [ ]:
pd.set_option('display.max_columns', None)

display(df_postings.head())

,job_id,company_name,title,description,max_salary,pay_period,location,company_id,views,med_salary,min_salary,formatted_work_type,applies,original_listed_time,remote_allowed,job_posting_url,application_url,application_type,expiry,closed_time,formatted_experience_level,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,normalized_salary,zip_code,fips
0,921716,Corcoran Sawyer Smith,Marketing Coordinator,Job descriptionA leading real estate firm in N...,20.0,HOURLY,"Princeton, NJ",2774458.0,20.0,NaN,17.0,Full-time,2.0,1.713398e+12,NaN,https://www.linkedin.com/jobs/view/921716/?trk...,NaN,ComplexOnsiteApply,1.715990e+12,NaN,NaN,Requirements: \n\nWe are seeking a College or ...,1.713398e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,38480.0,8540.0,34021.0
1,1829192,NaN,Mental Health Therapist/Counselor,"At Aspen Therapy and Wellness , we are committ...",50.0,HOURLY,"Fort Collins, CO",NaN,1.0,NaN,30.0,Full-time,NaN,1.712858e+12,NaN,https://www.linkedin.com/jobs/view/1829192/?tr...,NaN,ComplexOnsiteApply,1.715450e+12,NaN,NaN,NaN,1.712858e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,83200.0,80521.0,8069.0
2,10998357,The National Exemplar,Assitant Restaurant Manager,The National Exemplar is accepting application...,65000.0,YEARLY,"Cincinnati, OH",64896719.0,8.0,NaN,45000.0,Full-time,NaN,1.713278e+12,NaN,https://www.linkedin.com/jobs/view/10998357/?t...,NaN,ComplexOnsiteApply,1.715870e+12,NaN,NaN,We are currently accepting resumes for FOH - A...,1.713278e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,55000.0,45202.0,39061.0
3,23221523,"Abrams Fensterman, LLP",Senior Elder Law / Trusts and Estates Associat...,Senior Associate Attorney - Elder Law / Trusts...,175000.0,YEARLY,"New Hyde Park, NY",766262.0,16.0,NaN,140000.0,Full-time,NaN,1.712896e+12,NaN,https://www.linkedin.com/jobs/view/23221523/?t...,NaN,ComplexOnsiteApply,1.715488e+12,NaN,NaN,This position requires a baseline understandin...,1.712896e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,157500.0,11040.0,36059.0
4,35982263,NaN,Service Technician,Looking for HVAC service tech with experience ...,80000.0,YEARLY,"Burlington, IA",NaN,3.0,NaN,60000.0,Full-time,NaN,1.713452e+12,NaN,https://www.linkedin.com/jobs/view/35982263/?t...,NaN,ComplexOnsiteApply,1.716044e+12,NaN,NaN,NaN,1.713452e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,70000.0,52601.0,19057.0

In [ ]:
df_postings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123849 entries, 0 to 123848
Data columns (total 31 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   job_id                      123849 non-null  int64
 1   company_name                122130 non-null  object
 2   title                       123849 non-null  object
 3   description                 123842 non-null  object
 4   max_salary                  29793 non-null   float64
 5   pay_period                  36073 non-null   object
 6   location                    123849 non-null  object
 7   company_id                  122132 non-null  float64
 8   views                       122160 non-null  float64
 9   med_salary                  6280 non-null    float64
 10  min_salary                  29793 non-null   float64
 11  formatted_work_type         123849 non-null  object
 12  applies                     23320 non-null   float64
 13  original_listed_time        123849 non-null  float64
 14  remote_allowed              15246 non-null   float64
 15  job_posting_url             123849 non-null  object
 16  application_url             87184 non-null   object
 17  application_type            123849 non-null  object
 18  expiry                      123849 non-null  float64
 19  closed_time                 1073 non-null    float64
 20  formatted_experience_level  94440 non-null   object
 21  skills_desc                 2439 non-null    object
 22  listed_time                 123849 non-null  float64
 23  posting_domain              83881 non-null   object
 24  sponsored                   123849 non-null  int64
 25  work_type                   123849 non-null  object
 26  currency                    36073 non-null   object
 27  compensation_type           36073 non-null   object
 28  normalized_salary           36073 non-null   float64
 29  zip_code                    102977 non-null  float64
 30  fips                        96434 non-null   float64
dtypes: float64(14), int64(2), object(15)
memory usage: 29.3+ MB

# NLP

## Perprocessing 'description'

In [ ]:
df_desc = df_postings['description']

In [ ]:
df_desc.head()

0    Job descriptionA leading real estate firm in N...
1    At Aspen Therapy and Wellness , we are committ...
2    The National Exemplar is accepting application...
3    Senior Associate Attorney - Elder Law / Trusts...
4    Looking for HVAC service tech with experience ...
Name: description, dtype: object

In [ ]:
df_desc.info()

<class 'pandas.core.series.Series'>
RangeIndex: 123849 entries, 0 to 123848
Series name: description
Non-Null Count   Dtype
--------------   -----
123842 non-null  object
dtypes: object(1)
memory usage: 967.7+ KB

In [ ]:
df_desc.isna().sum()

np.int64(7)

In [ ]:
df_desc.duplicated().sum()

np.int64(16021)

In [ ]:
df_desc.dropna(inplace=True)
df_desc.drop_duplicates(inplace=True)

In [ ]:
import re
import string
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import nltk

nltk.download('punkt_tab')    # untuk word_tokenize()
nltk.download('stopwords')    # untuk stopwords
nltk.download('wordnet')      # untuk lemmatizer
nltk.download('omw-1.4')      # untuk lemmatizer support

stop_words = set(stopwords.words('english'))

[nltk_data] Downloading package punkt_tab to /root/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

In [ ]:
def to_lowercase(text):
    return text.lower()

def normalize_whitespace(text):
    return re.sub(r'\s+', ' ', text).strip()

def remove_urls(text):
    return re.sub(r'http\S+|www\.\S+', '', text)

def remove_html_tags(text):
    return re.sub(r'<.*?>', '', text)

def remove_emails(text):
    return re.sub(r'\S+@\S+', '', text)

def remove_numbers(text):
    return re.sub(r'\d+', '', text)

def remove_punctuation(text):
    return text.translate(str.maketrans('', '', string.punctuation))

def remove_stopwords(text):
    words = word_tokenize(text)
    filtered = [word for word in words if word not in stop_words]
    return ' '.join(filtered)

# Aplikasikan semua preprocessing
df_desc = (
    df_desc.apply(to_lowercase)
           .apply(remove_urls)
           .apply(remove_html_tags)
           .apply(remove_emails)
           .apply(remove_numbers)
           .apply(remove_punctuation)
           .apply(normalize_whitespace)
           .apply(remove_stopwords)
)

In [ ]:
all_cleaned_text = " ".join(df_desc.astype(str).tolist())

# WordCloud

In [ ]:
from wordcloud import WordCloud
import matplotlib.pyplot as plt

wordcloud = WordCloud(
    width=1000,
    height=500,
    background_color='white',
    max_words=180  # batas maksimum kata paling sering
).generate(all_cleaned_text)


plt.figure(figsize=(15, 7))
plt.imshow(wordcloud, interpolation='bilinear')
plt.axis("off")
plt.title("WordCloud description", fontsize=20)
plt.show()

# buang

In [ ]:
df_desc.head()

0    job descriptiona leading real estate firm new ...
1    aspen therapy wellness committed serving clien...
2    national exemplar accepting applications assis...
3    senior associate attorney elder law trusts est...
4    looking hvac service tech experience commerica...
Name: description, dtype: object

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

# Inisialisasi vectorizer
vectorizer = TfidfVectorizer(max_df=0.85, max_features=1000)

# Fit dan transform
tfidf_matrix = vectorizer.fit_transform(df_desc)
feature_names = vectorizer.get_feature_names_out()

# Fungsi untuk ekstrak top-N keyword per dokumen
def extract_top_keywords(tfidf_row, feature_names, top_n=5):
    sorted_nzs = tfidf_row.nonzero()[1][tfidf_row.data.argsort()[::-1]]  # sort descending
    top_features = [(feature_names[i], tfidf_row[0, i]) for i in sorted_nzs[:top_n]]
    return [word for word, score in top_features]

# Terapkan pada setiap baris
top_keywords = []
for i in range(tfidf_matrix.shape[0]):
    keywords = extract_top_keywords(tfidf_matrix[i], feature_names, top_n=5)
    top_keywords.append(keywords)

# Simpan hasil ke DataFrame
df_keywords = pd.DataFrame({
    'original_desc': df_desc,
    'top_keywords': top_keywords
})

df_keywords.head()

,original_desc,top_keywords
0,job descriptiona leading real estate firm in n...,"[marketing, design, requests, be, person]"
1,at aspen therapy and wellness we are committed...,"[treatment, wellness, therapy, we, supervision]"
2,the national exemplar is accepting application...,"[class, assistant, now, should, longterm]"
3,senior associate attorney elder law trusts and...,"[practice, law, planning, firm, legal]"
4,looking for hvac service tech with experience ...,"[mechanical, industrial, service, line, license]"

In [ ]:
import numpy as np

# Jumlahkan semua skor tf-idf tiap fitur/kolom (menjadi total skor untuk masing-masing kata)
sums = tfidf_matrix.sum(axis=0)  # shape: (1, n_features)
scores = np.asarray(sums).flatten()

# Buat DataFrame untuk memetakan kata dan skornya
keywords_scores = pd.DataFrame({
    'word': feature_names,
    'score': scores
}).sort_values(by='score', ascending=False)

keywords_scores.head(20)  # top 20 keyword di seluruh dataset

         word        score
619       our  7794.817742
997       you  6869.635045
963        we  6787.322669
93         be  5443.838353
65        are  5438.139047
985      work  5414.349665
594        on  5398.374234
45         an  4869.149639
981      will  4858.881812
38        all  4557.996398
897      that  4426.147070
885      team  4345.070406
905      this  4313.371831
999      your  4151.851786
80         at  3962.905147
116        by  3855.298914
125      care  3787.193107
114  business  3702.122737
470       job  3684.600822
798     sales  3641.314014